.keep-footer{
    background:#fff;
}
.keep-footer .footer-wrapper{
    width:100%;
    margin:0 auto;
    padding-top:60px;
}
@media screen and (min-width:768px){
    .keep-footer .footer-wrapper{
        width:768px;
        padding-top:60px;
    }
}
.keep-footer .info-left{
    float:none;
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
}
@media screen and (min-width:768px){
    .keep-footer .info-left{
        float:left;
    }
}
.keep-footer .info-block{
    -webkit-flex:1;
    flex:1;
    margin:0;
    text-align:center;
    display:inline-blockl
}
@media screen and (min-width:768px){
    .keep-footer .info-block{
        margin:0 40px 0 10px;
    }
}
.keep-footer .info-block a{
    display:block;
    margin-bottom:23px;
    font-size:12px;
    color:#584f60;
    text-decoration:none;
}
@media screen and (min-width:768px){
    .keep-footer .info-block a{
        margin-bottom:15px;
    }
}
.keep-footer .info-right{
    float:none;
    text-align:center;
}
@media screen and (min-width:768px){
    .keep-footer .info-right{
        float:right;
        text-align:right;
        margin-right:10px;
    }
}
.keep-footer .info-right .info-social{
    margin-bottom:0;
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
}
@media screen and (min-width:768px){
    .keep-footer .info-right .info-social{
        margin-bottom:15px;
    }
}
.keep-footer .info-right .info-social .link-wrapper{
    -webkit-flex:1;
    flex:1;
    text-align:center;
}
.keep-footer .info-right .info-social a{
    display:inline-block;
    position:relative;
    background:#584f60;
    width:24px;
    height:24px;
    line-height:24px;
    text-align:center;
    border-radius:24px 24px;
}
.keep-footer .info-right .info-social a i{
    color:#fff;
    font-size:22px;    
}
.keep-footer .info-right .info-text{
    display:none;
}
@media screen and (min-width:768px){
    .keep-footer .info-right .info-text{
        font-size:12px;
        color:#999;
        line-height:1.8;
        display:block;
    }
}
.keep-footer .copyright{
    margin-top:37px;
    text-align:center;
    padding:24px 0;
    border-top:1px solid #f0f0f0;
    font-size:12px;
    color:#999;
}
@media screen and (min-width:768px){
    .keep-footer .copyright{
        margin-top:120px;
        padding:24px 0;
        font-size:12px;
    }
}
.keep-footer .copyright a{
    display:none;
}
@media screen and (min-width:768px){
    .keep-footer .copyright a{
        display:inline;
        color:#999;
    }
}