body{
    display:block;
    margin:8px;
}
body{ 
    margin:0;
}
body{
    margin:0;
    padding:0;
    color:#333;
    background-color:#fafafa;
}
a{
    background:transparent;
}
a{
    text-decoration: none;
}
a,input{
    outline:0;
}
nav,header,footer{
    display:block;
}
li{
    list-style-type: none;
}
/* 头部*/
.keep-header{
    position:relative;
    z-index:200;
}
.keep-header .keep-wrapper-pc{
    background:#584f60;
    height:96px;
    line-height:96px;
}
.keep-header .keep-wrapper-pc .nav-inner{
    width:768px;
    margin:0 auto;
    color:#fff;
}
.keep-header .keep-wrapper-pc .nav-inner .nav-logo{
    float:left;
    margin-left:16px;
}
.keep-header .keep-wrapper-pc .nav-inner .nav-pc{
    float:right;
    margin-right:20px;
    height:96px;
}
.keep-header .keep-wrapper-pc .nav-inner .nav-pc >a {
    display:inline-block;
    margin-left:40px;
    font-size:14px;
    color:#fff;
}
.keep-header .keep-wrapper-pc .nav-inner .nav-pc .keep-icon-user{
    display:inline-block;
    vertical-align:top;
    font-size:22px;
    margin-right:10px;
    width:22px;
    margin-left:-5px;
    color:rgba(255,255,255,0.4);
}
/*主体列表*/
.keep-main-content{
    margin:0 auto;
    width:768px;
}
.keep-wrapper{
    box-sizing: border-box;
    margin:12px auto;
    padding:15px 12px;
    width:100%;
    background:#fff;
}
.keep-main-content .tabulation{
    padding:0;
}
.keep-main-content .keep-wrapper h2{
    margin-bottom:24px;
    font-size:26px;
    color:#24C789;
}
.keep-main-content .keep-wrapper p{
    color:#999;
    font-size:16px;
    margin:0 21%;
    text-align:center;
}
.title-wrapper{
    padding:47px 0;
    text-align:center;
}
.keep-main-content .keep-wrapper .workout-hashtag{
    margin:0;
    padding:0;
}
.keep-main-content .keep-wrapper .workout-hashtag::after{
    content:'';
    display:block;
    clear:both;
}
.workout-hashtag li{
    float:left;
    width:50%;
}
@media screen and (min-width:768px){
    .workout-hashtag li{
        width:25%;
    }
    .keep-wrapper{
        padding:28px 28px;
        margin:12px auto;
    }
    .title-wrapper{
        padding:60px 0;
    }
}
.workout-hashtag li a{
    position:relative;
    display:block;
    padding-bottom:100%;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}
.workout-hashtag li a .mask{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
}
.workout-hashtag li a .info {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
}
.workout-hashtag li a .title{
    font-size:16px;
    margin-bottom:10px;
    font-weight:bold;
    color:#fefefe;
}
@media screen and (min-width: 768px){
   .workout-hashtag li a .title {
    margin-bottom: 16px;
    font-size: 18px;
    }
   .workout-hashtag li a .count {
    color: #999;
    font-size: 14px;
    }
}
.workout-hashtag li a .count{
    color:#fefefe;
    font-size:12px;
}
 .keep-wrapper .more{
    display:none;
} 
@media screen and (min-width:768px){
    .keep-wrapper .more{
        display:block;
        text-align:center;
        margin:45px auto 0;
        padding-bottom:36px;
    }
    .keep-wrapper .more a{
        display:inline-block;
        color:#24C789;
        border:1px solid #24C789;
        border-radius:25px 25px;
        width:150px;
        height:33px;
        line-height:33px;
        font-size:14px;
    }
}
.keep-wrapper .more p{
    color:#999;
    font-size:14px;
    margin-bottom:16px;
}
/*第二个列表*/
.point{
    padding:0;
}
.training-point{
    margin:0;
    padding:0;
}
.training-point::after{
    content: '';
    display:block;
    clear: both;
}
.training-point li{
    float:left;
    width:50%;
    margin-bottom:40px;
    text-align:center;
}
.training-point li a{
    display:block;
    height:115px;
    position:relative;
}
.training-point li a .img{
    height:80px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.training-point li a .img img{
    display:block;
    max-width:86px;
}
.training-point li a .name{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    color:#584f60;
    font-size:14px;
}
@media screen and (min-width:768px){
    .training-point{
        width:768px;
        margin:25px auto 15px;
    }
    .training-point li{
        width:20%;
        margin-bottom:65px;
    }
    .training-point li a{
        height:126px;
    }
    .training-point li a .img{
        height:80px;
    }
}
/*尾部*/
.keep-footer{
    background:#fff;
}
.keep-footer .footer-wrapper{
    width:100%;
    margin:0 auto;
    padding-top:60px;
}
@media screen and (min-width:768px){
    .keep-footer .footer-wrapper{
        width:768px;
        padding-top:60px;
    }
}
.keep-footer .info-left{
    float:none;
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
}
@media screen and (min-width:768px){
    .keep-footer .info-left{
        float:left;
    }
}
.keep-footer .info-block{
    -webkit-flex:1;
    flex:1;
    margin:0;
    text-align:center;
    display:inline-blockl
}
@media screen and (min-width:768px){
    .keep-footer .info-block{
        margin:0 40px 0 10px;
    }
}
.keep-footer .info-block a{
    display:block;
    margin-bottom:23px;
    font-size:12px;
    color:#584f60;
    text-decoration:none;
}
@media screen and (min-width:768px){
    .keep-footer .info-block a{
        margin-bottom:15px;
    }
}
.keep-footer .info-right{
    float:none;
    text-align:center;
}
@media screen and (min-width:768px){
    .keep-footer .info-right{
        float:right;
        text-align:right;
        margin-right:10px;
    }
}
.keep-footer .info-right .info-social{
    margin-bottom:0;
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
}
@media screen and (min-width:768px){
    .keep-footer .info-right .info-social{
        margin-bottom:15px;
    }
}
.keep-footer .info-right .info-social .link-wrapper{
    -webkit-flex:1;
    flex:1;
    text-align:center;
}
.keep-footer .info-right .info-social a{
    display:inline-block;
    position:relative;
    background:#584f60;
    width:24px;
    height:24px;
    line-height:24px;
    text-align:center;
    border-radius:24px 24px;
}
.keep-footer .info-right .info-social a i{
    color:#fff;
    font-size:22px;    
}
.keep-footer .info-right .info-text{
    display:none;
}
@media screen and (min-width:768px){
    .keep-footer .info-right .info-text{
        font-size:12px;
        color:#999;
        line-height:1.8;
        display:block;
    }
}
.keep-footer .copyright{
    margin-top:37px;
    text-align:center;
    padding:24px 0;
    border-top:1px solid #f0f0f0;
    font-size:12px;
    color:#999;
}
@media screen and (min-width:768px){
    .keep-footer .copyright{
        margin-top:120px;
        padding:24px 0;
        font-size:12px;
    }
}
.keep-footer .copyright a{
    display:none;
}
@media screen and (min-width:768px){
    .keep-footer .copyright a{
        display:inline;
        color:#999;
    }
}



