$my_background:#fff;
$my_color:#584f60;
$color:#999;
$border:#f0f0f0;

.keep-footer{
    background:$my_background;

       .footer-wrapper{
           width:100%;
           margin:0 auto;
           padding-top:60px;
       }
       .info-left{
           float:none;
           display:-webkit-box;
           display:-webkit-flex;
           display:flex;
       }
       .info-block{
           -webkit-flex:1;
           flex:1;
           margin:0;
           text-align:center;
           display:inline-block;

	     a{
	         display:block;
                 margin-bottom:23px;
                 font-size:12px;
                 color:$my_color;
                 text-decoration:none;
	     }
       }
       .info-right{
           float:none;
           text-align:center;

	     .info-social{
	         margin-bottom:0;
                 display:-webkit-box;
                 display:-webkit-flex;
                 display:flex;

		   .link-wrapper{
		       -webkit-flex:1;
                       flex:1;
                       text-align:center;
		   }
		   a{
		       display:inline-block;
                       position:relative;
                       background:$my_color;
                       width:24px;
                       height:24px;
                       line-height:24px;
                       text-align:center;
                       border-radius:24px 24px;

		         i{
			        color:$my_background;
                    font-size:22px; 
			 }
		   }
	     }
       }
       .info-text{
           display:none;
       }
       .copyright{
           margin-top:37px;
           text-align:center;
           padding:24px 0;
           border-top:1px solid $border;
           font-size:12px;
           color:$color;

	     a{
	         display:none;
	     }
       }
}
@media screen and (min-width:768px){
    .keep-footer{
       .footer-wrapper{
            width:768px;
            padding-top:60px;
       }
       .info-left{
           float:left;
       }
       .info-block{
        margin:0 40px 0 10px;

          a{
            margin-bottom:15px;
          }
       }
       .info-right{
           float:right;
           text-align:right;
           margin-right:10px;

           .info-social{
                margin-bottom:15px;
           }
           .info-text{
                font-size:12px;
                color:$color;
                line-height:1.8;
                display:block;
           }
       }
       .copyright{
            margin-top:120px;
            padding:24px 0;
            font-size:12px;
              a{
                  display:inline;
                  color:$color;
              }
       }
    }
}