$my_background-color:#3d3744;
$white:#fff;
$color:#ddd;


/*第二列表内容*/
.run-wrap{
    position: relative;
    height:636px;
    background-color:$my_background-color;
    background-image: url(gotokeep/img/index/main2/1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
      
    .run-track-wrap{
        position: absolute;
        top:138px;
        left:274px;

        img{
            width:100%;
            display:block;
            position: relative;
            z-index: 2;
        }
        .animate-circle{
            width:60px;
            height:60px;
            position: absolute;
            bottom:-12px;
            right:-12px;
            background:$white;
            border-radius: 50%;
            animation:scale 2s ease infinite normal;
        }
    }
    .run-config-wrap{
        width:384px;
        position: absolute;
        top:-23px;
        right:110px;
        z-index: 2;

        .run-config-pace{
             height:342px;
             padding:22px 18px 20px;
             background-color:#5e5566;
             border-radius:5px;
             text-align:left;
             box-shadow: 0 8px 24px 0 rgba(70,61,77,0.6);
             box-sizing:border-box;

            .config-title{
                 font-size:16px;
                 color:$color;
                 line-height:1;

                 i{
                     font-size:22px;
                     margin-right:10px;
                     position: relative;
                     top:2px;
                 }
            }
            .config-cont{
                font-size:12px;
                color:#827a89;
                margin:28px 0 16px;
                line-height:1;
                overflow: hidden;

                .right{
                    float:right;
                }
            }
            .speed-bar1{
                width:54.6%;

                .speed-bar-fill{
                    transition:all 2s ease;
                    -webkit-transition: all 2s ease;
                }
            }
            .speed-bar{
                height:24px;
                border-radius:24px;
                background-color:rgba(36,199,137,0.3);
                margin-top:10px;

                .speed-bar-fill{
                    height:24px;
                    width:0;
                    border-radius:24px;
                    background-color:#24c789;
                }
            }
            .speed-bar2{
                width:42%;

                .speed-bar-fill{
                    -webkit-transition: all 2s ease;
                    transition:all 2s ease;
                }
            }
            .speed-bar3{
                width:45.4%;

                .speed-bar-fill{
                    -webkit-transition: all 1.25s ease;
                    transition:all 1.25s ease;
                }
            }
            .speed-bar4{
                width:100%;

                .speed-bar-fill{
                    -webkit-transition: all 3s ease;
                    transition:all 3s ease;
                }
            }
            .speed-bar5{
                width:48.9%;

                .speed-bar-fill{
                    -webkit-transition: all 1.5s ease;
                    transition:all 1.5s ease;
                }
            }
            .speed-bar6{
                width:45.4%;

                .speed-bar-fill{
                    -webkit-transition: all 1.25s ease;
                    transition:all 1.25s ease;
                }
            }
            .speed-bar7{
                width:50.6%;

                .speed-bar-fill{
                    -webkit-transition: all 1.75s ease;
                    transition:all 1.75s ease;
                }
            }
        }
        .run-config-frequency{
            margin-top:10px;
            width:100%;
            position: relative;
            height:342px;
            border-radius:5px;
            overflow: hidden;
            box-shadow:0 8px 24px 0 rgba(70,61,77,0.6);
    
            .config-title{
                position: absolute;
                top:22px;
                left:0;
                width:100%;
                padding:0 18px;
                z-index: 2;
                box-sizing:border-box;
    
                div{
                    font-size:16px;
                    color:$color;
                    overflow: hidden;
                    text-align:left;
                    line-height: 16px;
                }
                i{
                    font-size:22px;
                    margin-right:3px;
                    position: relative;
                    top:2px;
                }
                .right{
                    font-size:12px;
                    color:#827a89;
                    float:right;
                }
                .chart-title{
                    text-align:center;
                    font-size:12px;
                    color:#827a89;
                    margin-top:20px;
    
                    span{
                        color:#24c789;
                        margin-left:5px;
                    }
                }
            }
            .config-bg{
                width:100%;
                display:block;
            }
            #freq-img{
                width:100%;
                position: absolute;
                right:0;
                bottom:0;
                height:100%;
                transition:all 3s ease;
                -webkit-transition:all 3s ease;
                overflow: hidden;
    
                img{
                    position: absolute;
                    width:384px;
                    height:100%;
                    right:0;
                    top:0;
                }
            }
        }
    }
    .run-text-wrap{
        position: absolute;
        top:46px;
        right:566px;
        width:268px;
        text-align:right;
        z-index: 2;

        .run-text-title{
            color:$white;
            font-size:16px;
        }
        .run-text-cont{
            font-size:14px;
            color:#8e8893;
            margin:20px 0;
        }
        .run-btn{
            display:inline-block;
            color:#fefefe;
            background-color:#24c789;
            width:138px;
            height:42px;
            line-height: 42px;
            text-align:center;
            border-radius: 42px;
            font-size:14px;
            box-shadow: 0 4px 16px 0 rgba(32,178,122,0.27);

            span{
                display:inline-block;
                position: relative;
                left:0;
                transition:left .5s;
                -webkit-transition:all .5s;
            }
            i{
                margin-left:20px;
                border-top:2px solid #a6efd3;
                border-right:2px solid #a6efd3;
                transform:rotate(45deg);
                display:inline-block;
                width:7px;
                height:7px;
                position: relative;
                top:-1px;
            }
        }
    }
    .run-data{
        position: absolute;
        bottom:40px;
        right:536px;
        font-size:12px;
        color:#8e8893;
        text-align:center;
        z-index: 2;

        .data-block{
            display:inline-block;

            .data-title{
                text-align:left;
            }
            .data-val{
                font-size:44px;
                color:$color;
                line-height:1;
                margin:16px 0;
                font-weight: bold;
            }
        }
        .data-unit{
            text-align:right;
        }
        .data-block-right{
            display:inline-block;
            margin-left:120px;

            .data-block2{
                display:inline-block;
                margin:0 30px;
            }
            .data-title{
                text-align:center;

                .icon-speed{
                    position: relative;
                    top:-5px;
                    width:32px;
                    height:24px;
                    background-size:32px 24px;
                    background:url(gotokeep/img/index/main2/4.png)no-repeat center;
                }
                i{
                    display:inline-block;
                }
                .icon-duration{
                    width:28px;
                    height:30px;
                    background-size:28px 30px;
                    background:url(gotokeep/img/index/main2/5.png)no-repeat center;
                }
                .icon-cal{
                    position: relative;
                    top:-5px;
                    width:20px;
                    height:24px;
                    background-size:20px 24px;
                    background:url(gotokeep/img/index/main2/6.png)no-repeat center;
                }
            }
            .data-val{
                font-size:27px;
                color:$color;
                line-height: 1;
                margin:16px 0;
                font-weight: bold;
            }
            .data-unit{
                text-align:center;
            }
        }
    }
}

@media screen and (max-width:1439px) and (min-width:1024px){
    .run-wrap{
        .run-track-wrap{
            left:45px;
        }
        .run-config-wrap{
            top:-26px;
            right:28px;
        }
        .run-text-wrap{
            right:initial;
            left:298px;
        }
        .run-data{
            right:initial;
            left:44px;
        }
    }
    
}